@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:wght@800&display=swap");

/* Main CSS */

:root {
    --primary-color: #3c3c39;
    --secondary-color: #2f4d68;
    --accent1-color: #4487ae;
    --text-color: white;
    --heading-font: "Raleway", "PT Serif", "Lato";
    --paragraph-font: "Libre Baskerville", "Tahoma", "verdana";
    --headline-color-on-white: #3c3c39;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph-font);
    overflow: wrap;
}

#logo {
    width: 100px;
    height: auto;
}

/* Navigation */
nav {
    background-color: var(--primary-color);
    padding-left: 0;
    flex-direction: column;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/* Responsive Menu styles */

#menu {
    background-color: var(--primary-color);
    color: white;
    padding: 3px 7px 6px;
    font-size: 2rem;
    width: 50px;
    justify-self: center;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "x";
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
td {
    text-align: center;
}

#weather {
    display: flex;
    justify-content: right;
    grid-column: 2 / 3;
    align-items: center;
    color: white;

}

#weatherdiv {
    padding: 30px;
    height: 300px;
    width: 60%;
    background: var(--primary-color);
    font-size: 1.5em;
    color: var(--text-color);
}

.currentweather {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.weather {
    display: grid;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 36px;
    border-radius: 16px;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.forecast-card {
    background: var(--text-color);
    color: var(--headline-color-on-white);
    border-radius: 8px;
    font-size: 1.2rem;
    display: grid;
    justify-items: center;
    margin-block: 20px;
    padding: 15px;
}

.weather figure {
    display: flex;
    align-items: center;
    gap: 50px;
}

#forecast {
    padding-inline: 33px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.banner {
    color: var(--text-color);
    background-color: var(--secondary-color);
    text-align: center;
    margin: 0px;
    padding: 3px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

/* INDEX PAGE */

/* Hero img and components */
#hero {
    position: relative;
    width: 100%;
    position: relative;
    z-index: -1;
    max-width: 1600px;
    text-align: center;
    overflow: hidden;
}

#hero img.welcome {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 28rem;
}

/* Carousel */
* {
    box-sizing: border-box
}

.carousel {
    display: flex;
    transition: transform 1s ease;
    background: var(--primary-color);
    height: 300px;
    width: 80%;
    justify-self: center;

}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    box-shadow: 5px 5px 10px #161c1c;
    margin: 10px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    position: relative;
}

.mySlides img {
    width: 100%;
    height: auto;
    /* Maintain the image's aspect ratio */
    display: block;
    /* Remove extra space below inline images */
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.button {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 20px;
    padding: 17px 28px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 20%);
    cursor: pointer;
    font-family: var(--heading-font);
    border-color: #bbb;
    text-decoration: none;
}

.button:hover {
    background: var(--text-color);
    color: var(--accent1-color);
}

#eventsect {
    text-align: center;
    margin-top: 50px;
}

#events {
    margin-inline: 40px;
    display: block;
}


.forecast-card h3 {
    color: var(--accent1-color);
}

.slide img {
    height: 150px;
}

header {
    display: grid;
    grid-template-columns: 100px auto 70px 90px;
    background: var(--primary-color);
    align-items: center;
}

ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    grid-column: 1 / 4;
    margin-top: 0;
    margin-bottom: 0;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14pt;
    font-family: var(--heading-font);
}

.navigation.ul {
    padding-left: 0;
}

ul li a:active {
    background: var(--text-color);
    color: var(--accent1-color);
}

.navigation li a:hover {
    color: var(--accent1-color);
    background: var(--text-color);
    font-weight: 700;
}

.open li {
    display: block;
    background: var(--secondary-color);
    margin: 0em;
    border-width: 2px;
    border-style: outset;
    border-color: #999999;
}


footer {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    font-size: 10pt;
}

.socials {
    display: flex;
    justify-content: center;
}

#contacts {
    grid-column: 1/6;
    line-height: 2;
    grid-row: 1/2;
    text-align: center;
}

#copy {
    text-align: center;
    font-size: 8pt;
    grid-row: 2/3;
    grid-column: 2/5;
    margin-top: 10px;
}

.grid-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 85px;
    place-items: center;
}

.toggle {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    text-align: end;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--accent1-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--accent1-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;
}

/* DISCOVER */
.page-visits,
.events h4 {
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    grid-row: 2/3;
}

.card-img {
    color: var(--text-color);
    text-align: center;
}

section.dimg {
    background: var(--secondary-color);
}


.dcard {
    border: 1px solid var(--main-color);
}

.dcard h3 {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
}

.dimg h2 {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 1em;
    grid-column: 1/3;
    margin: 0;
}

.dis-welcome {
    grid-column: 1/2;
    text-align: center;
}

.joinevents {
    text-align: center;
}

/* Base styles for the image overlays */
.image-overlay {
    position: relative;
}

.image-overlay::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.fa {
    padding: 12px;
    font-size: 21px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 56%;
    color: var(--text-color);
    margin: 4px;
    border: solid 2px;
}

/* Add a hover effect*/
.fa:hover {
    opacity: 0.7;
}

/* Join Page */
.wrapper {
    flex-grow: 1;
}

.join-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

main.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
}

input,
select,
textarea,
label {
    max-width: 20rem;
    border-radius: 4px;
    border: solid 1px;
    width: 100%;
}


form {
    display: grid;
    padding: 40px;
    color: var(--secondary-color);
    border: solid 2px var(--accent1-color);
    margin-bottom: 20px;
}

.required {
    color: red;
    /* Use the required field color variable */
    margin-left: 5px;
    /* Use the required field margin variable */
}

.reg {
    background: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--heading-font);
    margin-top: 20px;
    font-size: 20px;
    padding: 20px;
    width: 7rem;
}

.reg:hover {
    background: var(--text-color);
    color: var(--accent1-color);
    border-color: #bbb;
}



/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background: var(--text-color);
    color: var(--accent1-color) !important;
}

.dot.active,
.dot:hover {
    background: var(--accent1-color);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Join CSS */
.joinheader {
    grid-column: 1/3;
    justify-content: center;
}

th,
td,
label {
    padding: 5px 0px;
    border: 1px solid var(--borderlight);
}

.membership-level {
    border: 2px solid var(--primary-color);
    margin-bottom: 20px;
    border-radius: 8px;
}

.membership-level h2 {
    margin: 0px;
    margin-bottom: 20px;
    padding: 10px;

}

.membership-level li {
    margin-bottom: 5px;
    list-style: disc;
    margin-left: 20px;
}

.np {
    background: black;
    color: white;
}

.bronze {
    background: #7A3508;
    color: white;
}

.silver {
    background: #4E4E4E;
    color: white;
}

.gold {
    background: #8A6622;
    color: white;
}


/* thankyou.html */
main .confirmation {
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
    margin: 3rem;
    white-space: pre-line;
}

/* directory.html */
main.directory {
    margin-inline: 40px;
    font-size: 14px;

}

/* JS Added Classes */

/* DarkMode */
body.dark-mode,
footer.dark-mode,
h1.dark-mode {
    background-color: #1e1e1e;
    color: #fff;
}


label.dark-mode,
h2.dark-mode,
h3.dark-mode {
    color: var(--text-color);
}

/* directory.html */

/* Add styles for list view */
#cards.list {
    display: flex;
    flex-direction: column;
    gap: 0px;

}

#cards.list section {
    place-items: center;
    font-size: small;
    padding-inline: 30px;

}

#cards.list img {
    display: none;
}

#cards a {
    color: var(--accent1-color);
}

#cards a:hover {
    color: var(--text);
}

.list section:nth-child(even),
#cards.list h3:nth-child(even) {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: .75rem;
}

main {
    flex-grow: 1;
}